@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 250px; /* Adjust the width */
  height: auto; 
  max-height: 400px; /* Limit height if needed */
}
html {
  scroll-behavior: smooth;
}